<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        #main{
            margin:0 auto;
            width:700px;
            height:700px;
            background: deepskyblue;
        }
    </style>
</head>
<body>

<div id="main"></div>
<script src="../lib/echarts.min.js"></script>
<script src="../lib/echarts-gl.min.js"></script>
<script>
    var option = {
        globe: {
            baseTexture: '../images/data-1493804606544-r1PBU7D1W.jpg',
            heightTexture: '../images/data-1493804610896-SJoBIXPkW.jpg',

            displacementScale: 0.05,
            displacementQuality: 'medium',

            environment: '../images/data-1491837999815-H1_44Qtal.jpg',

            shading: 'realistic',
            realisticMaterial: {
                roughness: 0.8,
                metalness: 0
            },

            postEffect: {
                enable: true,
                SSAO: {
                    enable: true,
                    radius: 2,
                    intensity: 1,
                    quality: 'high'
                }
            },
            temporalSuperSampling: {
                enable: true
            },
            light: {
                ambient: {
                    intensity: 0
                },
                main: {
                    intensity: 2,
                    shadow: true
                },
                ambientCubemap: {
                    texture: '../images/data-1491838644249-ry33I7YTe.hdr',
                    exposure: 0,
                    diffuseIntensity: 0.02
                }
            },
            viewControl: {
                autoRotate: false
            }
        },
        series: []
    };

    var myChart = echarts.init(document.getElementById('main'));
    myChart.setOption(option)


</script>
</body>
</html>